.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 90vh !important;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}


.text p {
    color: #393939;
    padding: 18px;
    font-size: 20px;
    font-family: Helvetica Neue,
}

.next__div {
    color: #777777 !important;
}